---

---
<section>
    <h3>Let's Build Something Together!</h3>
    <p>I’m a developer based in the DRC, specializing in high-performance stacks like Astro, Remix, and Hono. If you need a fast, modern website for your business or help setting up your SaaS infrastructure, I’m currently available for freelance work.</p>
    <p>Follow me on GitHub for more open-source tips.

Contact me to discuss your next project!
</section>
