---
import {getCollection} from "astro:content"
import SiteLayout from "@/layouts/site.layout.astro";
import {css} from "styled-system/css"

const posts = await getCollection("blog");
---

<SiteLayout>
		<h1 class={css({ textStyle: "3xl", color: "amber.500", fontWeight: "bold"})}>Homepage with oq0</h1>
		<div>
			{posts.map(post => <h1 class={css({ fontWeight: "semibold"})}>{post.data.title}</h1>)}
		</div>
</SiteLayout>
