---
import {Font} from "astro:assets"
import "../index.css"
import { container } from "styled-system/patterns"
import { css } from "styled-system/css"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-inclusive-sans" preload />
		<title>Astro</title>
	</head>
	<body class={css({ color: "fg"})}>
<main class={container({
  mx: "auto",

})}>
  <slot />
</main>
	</body>
</html>
