---
import SiteLayout from "@/layouts/site.layout.astro";
import { getContent,  } from "@/lib/api/content";
import { PageHeader } from "@/lib/components/sections";
import { Badge } from "@/lib/components/ui/badge";
import { PostCard } from "@/lib/components/ui/post-card";
import { cx } from "styled-system/css";
import { grid, gridItem } from "styled-system/patterns";

const posts = await getContent(Astro.currentLocale)
const locale = Astro.currentLocale as "en" | "fr";
---
<SiteLayout>
    <!-- Page header-->
    <PageHeader
        subheading="blog"
        heading="Find useful tips & tricks, ideas or experiences I've learnt from..."
    />

    <!-- Display tags -->
    <section>

    </section>

    <!-- Display posts-->
    <section class={grid({
      columns: { mdDown: 1, md: 3},
      gap: "4"
    })}>
        {posts.map(post => <div class={gridItem()}><PostCard post={post} /></div>)}
    </section>
</SiteLayout>
