---
import SiteLayout from "@/layouts/site.layout.astro";
import { getContent,  } from "@/lib/api/content";
import { PageHeader } from "@/lib/components/sections";
import { PostCard } from "@/lib/components/ui/post-card";
import { grid, gridItem } from "styled-system/patterns";

const posts = await getContent(Astro.currentLocale)
---
<SiteLayout title="Fullstack Developer & SaaS Builder in Bukavu, DRC | Glorieux Lukama's (@agashane) Blog" description="Technical guides on Astro, React Router, Remix, PandaCSS, Rust, AdonisJS and Medusajs. Based in Bukavu, DRC, I share insights on building high-performance web and mobile apps for a global audience.">
    <!-- Page header-->
    <PageHeader
        subheading="blog"
        heading="Find useful tips & tricks, ideas or experiences I've learnt from..."
    />

    <!-- Display tags -->
    <section>

    </section>

    <!-- Display posts-->
    <section class={grid({
      columns: { mdDown: 1, md: 3},
      gap: "4"
    })}>
        {posts.map(post => <div class={gridItem()}><PostCard post={post} /></div>)}
    </section>
</SiteLayout>
