---
import SiteLayout from "@/layouts/site.layout.astro"
---
<SiteLayout title="Développeur Fullstack & SaaS Builder à Bukavu, RDC | Blog - Glorieux Lukama (@agashane)"
    description="Guides techniques sur Astro, React Router, Remix, PandaCSS, Rust, AdonisJS et Medusajs. Basé à Bukavu, RDC, je partage des insights sur la construction d'applications web et mobiles performantes pour une audience mondiale.">
 <h1>Blog fr</h1>
</SiteLayout>
